{% extends 'base.html' %}
{% load staticfiles %}

{# All Auth #}
{# {% load socialaccount %} #}

{% block title %}الرئيسية{% endblock %}

{% block js %}
  {% include 'includes/registrations.js' %}
{% endblock %}

{% block content %}
    <div class="row" style="padding: 1%">
      <div class="col-md-4">
        <div id="home-auth">
          <h4 style="text-align: center;">قم بإنشاء حساب جديد الآن</h4>
          <br>
          <form method="POST" style="text-align: center;">
            {% csrf_token %}
            <p id="u-error" style="color: #edf206"></p>
            <p id="e-error" style="color: #edf206"></p>
            {{ form.non_field_errors }}
            {% for field in form %}
                {{ field }}
              {{ field.errors }}
              <br>
            {% endfor %}

            <input id="btn-auth" class="btn btn-lg" type="submit" value="تسجيل حساب جديد">
            <br/>

            {% comment %}
            <a href="{% provider_login_url 'github' %}">LogIn With Github</a>
            {% endcomment %}

            <hr>
            <h5 style="text-decoration: none;">لديك حساب بالفعل <a href="{% url 'accounts:login' %}"> تسجيل الدخول</a></h5>
          </form>
        </div>
      </div>
      <div class="col-md-8">
        <h3 style="text-align: right;">
        انضم الي اكثر من {{users}} متعلم من جميع انحاء العالم</h3>

      </div>
      <br>
    </div>
{% endblock %}