{% extends 'base.html' %}
{% load track_tags %}
{% block title %}All Course{% endblock %}

{% block js %}
<script type="text/javascript">
	$(document).ready(function() {

		$("#searchform").submit(function(e){
	            e.preventDefault()
	    	});


		$("#search").on('input', function(){

			if ($(this).val().length > 0) {
				$("#searchresults").html("<h5 style='margin: 25px;'>Typing...</h5>");

			    clearTimeout(this.delay);
			    this.delay = setTimeout(function(){
			        $.ajax({
		                url: "{% url 'track:course_search' %}",
		                method: "get",
		                data: $(this).parent().serialize(),
		                success: function(data) {
				            $("#searchresults").html(data);
		                }
		            });

			    }.bind(this), 800);
			} else {
				$.ajax({
	                url: "{% url 'track:course_search' %}",
	                method: "get",
	                data: $(this).parent().serialize(),
	                success: function(data) {
			            $("#searchresults").html(data);
	                }
		        });
			}
		});
	});
</script>

{% endblock %}


{% block content %}

	<div class="row">
		<div class="col-sm-8">
			<h3>Search about {% total_courses %} Courses</h3>
		</div>
		<div class="col-sm-4">
			<form id="searchform">
			  <input type="text" name="q" id="search" placeholder="Search...">
			</form>
		</div>
	</div>
	<hr>

  	<div class="row">

  		<div class="col-md-8" id="searchresults">
	  		{% for course in object_list %}

		    	<!-- <div class="col-md-6"> -->
	              <div class="card">
	                <a href="{{ course.get_absolute_url }}">
	                  <div class="card-header"><h5>{{ course.title }}</h5></div>
	                </a>
	                <div class="card-body">{{ course.content|truncatechars:115 }}</div> 
	                <div class="card-footer"><p>{{course.joines}} Total enrolled</p></div>
	              </div>
	              <br>
	        	<!-- </div> -->

			{% endfor %}
		</div>

	</div>

  {% include "includes/pagination.html" with page=courses %}

{% endblock %}
