{% extends 'base.html' %}
{% load track_tags %}

{% block title %}
{% if track %}{{track.title}} Practices {% else %}Practices{% endif %}
{% endblock %}

{% block content %}

	<div class="row">
		{% if not category %}
			<h3>Learn with {% total_practices %} practices</h3>
		{% else %}
			<h3>{{ category.practices.count }} practices</h3>
		{% endif %}
	</div>
	<hr>

	<div class="row">

		<div class="col-md-8">
				
		{% for practice in my_object_list %}

		  <div class="thumbnail">
				<div class="caption">
					<a href="{{ practice.get_absolute_url }}">
						<h4>{{practice.title}}</h4>
					</a>
					<p>{{ practice.content |truncatechars:215 }}</p>
				</div>
			</div>
			<hr>

		{% endfor %}
		</div>
		{# ################### Cartegories #################### #}
		<div class="col-md-4">
		    <div class="sidebar-module">
				<h4>Categories</h4>
				<ol class="list-unstyled">
				  <li {% if not category %} class="active"{% endif %}>
						<a href="{% url 'track:practice-list' %}">All</a>
				  </li>
					{% for c in categories %}
					  <li {% if category.slug == c.slug %} class="active"{% endif %}>
						  <a href="{% url 'track:practice_list_by_category' category_slug=c.slug %}">{{ c.title }}</a>
					  </li>
					{% endfor %}
				</ol>
			</div>
		</div>
	</div>
		
	{% include "includes/pagination.html" with page=practices %}

{% endblock %}