{% extends 'base.html' %}
{% load static %}
{% block title %}{{track.title}}{% endblock %}

{% block content %}

	{# GET ALL Courses #}
  <div class="row">
  {% for course in track.courses.all %}

  <div class="col-md-3" style="margin-right: 70px;">
  	<div class="card" style="width: 18rem;">

      <div class="card-body">
        <h5 class="card-title">{{ course.title }}</h5>
        <p class="card-text">{{ course.content }}</p>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">Total enrolled {{ course.joines }}</li>
        <li class="list-group-item">Active students {{ course.profile.count }}</li>
        <li class="list-group-item">Last update {{ course.updated_at }}</li>
      </ul>
      <div class="card-body">
        <a href="{{ course.get_absolute_url }}" class="card-link">Go to course</a>
      </div>
    </div>
    <br>
  </div>

  {% endfor %}
</div>
  <br/><hr><br/>
  <div class="row">
    {# GET ALL Articles #}
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Articles</h5>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          <a href="{% url 'track:article_list_by_track' track_slug=track.slug %}" 
            class="btn btn-primary">Read Articles</a>
        </div>
      </div>
    </div>
    {# GET ALL Practices #}
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Practices</h5>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          <a href="{% url 'track:practice_list_by_track' track_slug=track.slug %}" 
            class="btn btn-primary">Go to practices</a>
        </div>
      </div>
    </div>
  </div>

 {% endblock %}  }
