{% extends 'base.html' %}

{% block title %}Dashboard{% endblock %}
<h1>You'r Courses Here.</h1>
{% block content %}
	{% if user.profile.last_lecture %}
		<div class="row">
	    	<div class="col-md-6" style="text-align: center;">
		    	<h4>complete your lectures</h4>
	    	</div>
	    	<br>
	    	<div class="col-md-4" style="text-align: center;">
	    		<a href="{{ lecture.get_absolute_url }}"
			    class="btn btn-md btn-fill btn-success">
		      <span class="glyphicon glyphicon-remove-circle"></span>
		      {{ lecture.unit.course.title }} - {{ lecture.unit.title }} - {{ lecture.title }}
		    	</a>
	    	</div>
		</div>
    	<hr>
  		<br>
    {% endif %}
	<div class="row">
		{% if object_list.count == 0 %}
			<div class="col-md-12" style="text-align: center;">
		    	<h2>لست مشترك في اي من الكورسات </h2>
		    </div>
		{% else %}
		<div class="col-md-8">
	    	<h2 style="text-align: center;">مشترك في {{ object_list.count }} كورس</h2>
	        <br>
	        <div class="row">
				{% for course in object_list %}
				    <div class="col-md-6">
				    	<hr>
				    	<div style="text-align: center;">
				        <a href="{{ course.get_absolute_url }}"><h2>{{course.title}}</h2>
				        </a>
				        <p>{{course.content}}</p>
				        <p>{{course.profile.count}} Member In</p>
			        	<hr>
				    	</div>
				    </div>
				{% endfor %}
			</div>
		{% endif %}
		</div>
		<div class="col-md-4">
			<h5>Last Activities</h5>
			<div class="row">
				<ul>
					<li>Activity 1</li>
					<li>Activity 2</li>
					<li>Activity 3</li>
				</ul>
			</div>
			<h5>Articles likes</h5>
			<div class="row">
				<ul>
					<li>article 1</li>
					<li>article 2</li>
					<li>article 3</li>
					<li>article 4</li>
					<li>article 5</li>
				</ul>
			</div>
		</div>
	</div>
{% endblock %}
