{% extends "base.html" %}
{% block title %}Account{% endblock %}
{% block content %}

  <div class='row'>

    <div class="col-md-3">
      <div class="row">
        <img src="{% if user.profile.photo %}{{ user.profile.photo.url }}{% endif %}"
          alt="{{user.username}}" width='210px;' height="300px;">
      </div>
    </div>

    <div class="col-md-4">
      <div>
        <hr>
        <h5>username : @{{user.username}}</h5>
        <hr>
        <h5>email : {{user.email}}</h5>
        <hr>
        <h5>Birth Day: {{user.profile.date_of_birth}}</h5>
        <hr>
        <h5>الزوار : {{user.profile.views}} </h5>
        <p>آخر مشاهدة في  : {{user.last_login}} </p>
        <hr>
        <h5>GitHub {{profile.github}} </h5>
        <hr>
        <h5>Facebook {{profile.facebook}} </h5>
        <hr>
        <h5>Prevere Languages {{profile.get_prev_languages_display}} </h5>
      </div>
      <br>
      <div class="row">
        <a href="{% url 'accounts:edit_account' %}"
           class="btn btn-lg btn-fill btn-success">
          <span class="glyphicon glyphicon-remove-circle">  
        </span>تعديل الحساب </a>

        <a href="{% url 'accounts:password_change' %}"
           class="btn btn-lg btn-fill btn-success" style="margin: auto;">
          <span class="glyphicon glyphicon-remove-circle">  
        </span>تغيير كلمة السر</a>
      </div>
    </div>
    <div class="col-md-5">
      
    {# goto my courses #}
        <!-- <nav class="navbar navbar-light bg-light">
          <h4>Search about users</h4>
          <form class="form-inline">
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1">@</span>
              </div>
              <input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
            </div>
          </form>
        </nav>   -->
        <!-- <br/><br/>
        <a href="{% url 'track:dashboard' %}"
           class="btn btn-lg btn-fill btn-success">
            <span class="glyphicon glyphicon-remove-circle"></span>
            اللوحة التعليمية
        </a> -->
      </div>
    </div>


{% endblock %}