<nav class="navbar navbar-expand navbar-dark " style="background-color: #563d7c;">
  
	{% if user.username == 'admin' %}
  	<a class="navbar-brand" href="/admin/">Admin</a>
  {% endif %}

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">

      <li class="nav-item active">
        <a class="nav-link" href="{% url 'home:home' %}">
          <strong>Eg-ELA </strong>
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="{% url 'track:dashboard' %}">Dashboard</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'track:track-list' %}">Tracks</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'track:course-list' %}">Courses</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'track:article-list' %}">Articles</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'track:practice-list' %}">Practices</a>
      </li>

      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">
        <a href="{% url 'home:search' %}">Catalog</a>
      </button>
    </ul>

    {% if user.is_authenticated %}
      <ul>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <img src="{% if user.profile.photo %}{{ user.profile.photo.url }}{% endif %}" width="30" 
            height="32" class="d-inline-block align-top" alt=""> {{user.username}}
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="{{ user.profile.get_absolute_url }}">Profile</a>
          <a class="dropdown-item" href="{% url 'accounts:edit_account' %}">Settings</a>
          <a class="dropdown-item" href="{% url 'accounts:password_change' %}">Change Password</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="{% url 'accounts:logout' %}">Logout</a>
        </div>
      </li>
      <ul>
      {% else %}

        <div class="navbar-end">
          <div class="navbar-item">
            <div class="buttons">
              <a href="{% url 'accounts:signup' %}">
                <strong>Sign up </strong>
              </a>
              <a href="{% url 'accounts:login' %}">
                <strong>Log in</strong>
              </a>
            </div>
          </div>
        </div>
        
      {% endif %}


  </div>
</nav>