{% if courses %}
	
	{% if not cd == '' %}
		<div id="header_search">
			<br/>
			<h2 id="data">Search containing "{{ cd|safe }}"</h2>
			<h3 id="total">Found {{ total_results }} result{{ total_results|pluralize }}</h3>
			<br/>
		</div>
	{% endif %}

	{% for course in courses %}

          <div class="card">
            <a href="{{ course.get_absolute_url }}">
              <div class="card-header"><h5>{{ course.title }}</h5></div>
            </a>
            <div class="card-body">{{ course.content|truncatechars:115 }}</div> 
            <div class="card-footer"><p>{{course.profile.count}} Member In</p></div>
          </div>
          <br>

	{% endfor %}
{% else %}
    <h3>No results</h3>
{% endif %}